<style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #map-canvas { width: 80%; height: 550px; }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<div id="map-canvas"></div>

<% @photos.each do |photo| %>
  <%= image_tag photo.info["images"]["thumbnail"]["url"], 
    class: "photo",
    size: "#{photo.info['images']['thumbnail']['width']}x#{photo.info['images']['thumbnail']['height']}",
    lat: "#{photo.info['location']['latitude']}",
    lng: "#{photo.info['location']['longitude']}"
  %>
<% end %>

<script type="text/javascript">
  initialize();

  function initialize() 
  {
    var center = new Object();
    center.lat = 40.738933;
    center.lng = -74.00116;
    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(center.lat, center.lng),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

    //mark center
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(center.lat, center.lng),
      map: map
    });

    overlay = new google.maps.OverlayView();
    overlay.draw = function() {};
    overlay.setMap(map);
    google.maps.event.addListener(map, "tilesloaded", function() {
      $photos = $(".photo");
      for(var i = 0; i < $photos.length; i++)
      {
        bind_effect_to($($photos[i]));
      }
      arrange_photos();
      setInterval(fetch_new_photos, 10000);
    })
    google.maps.event.addListener(map, "zoom_changed", function() {
      arrange_photos();
    })
    google.maps.event.addListener(map, "drag", function() {
      arrange_photos();
    })
    $(".photo").hide();
  }

  function arrange_photos()
  {
    $photos = $(".photo");
    for(var i = 0; i < $photos.length; i++)
    {
      var $photo = $($photos[i]);
      $photo.show();
      resize_photo($photo);
      pin_photo_to_map($photo);
      hide_photo_if_out_of_board($photo);
      delete_earliest_photo_if_photo_count_larger_than(50);
    }
  }

  function resize_photo($photo)
  {
    var len = $("#map-canvas").height() / 10;
    $photo.css({ width: len + "px", height: len + "px" });
    $photo.attr({
      "origin_width": parseInt($photo.css("width")),
      "origin_height": parseInt($photo.css("height"))
    });
  }

  function hide_photo_if_out_of_board($photo)
  {
    var map_x = $("#map-canvas").position().left;
    var map_y = $("#map-canvas").position().top;
    var map_width = $("#map-canvas").width();
    var map_height = $("#map-canvas").height();
    var photo_x = $photo.position().left;
    var photo_y = $photo.position().top;
    var photo_width = $photo.width();
    var photo_height = $photo.height();
    if(photo_x < map_x || photo_y < map_y || photo_x + photo_width > map_x + map_width ||
      photo_y + photo_height > map_y + map_height)
    {
      $photo.hide();
    }
  }

  function delete_earliest_photo_if_photo_count_larger_than(num)
  {
    $photo = $(".photo");
    if($photo.count > num)
    {
      $($photo[0]).remove();
    }
  }

  function fetch_new_photos()
  {
    $.ajax({
      url: "/fetch_new_photos",
      success: function(photos){
        for(var i = 0; i < photos.length; i++)
        {
          create_new_image(photos[i]);
          bind_effect_to($(photos[i]))
        }
        arrange_photos();
      },
      error: function(){
        console.log("fetch new photos error");
      }
    })
  }

  function create_new_image(photo)
  {
      var $new_photo = $("<img class='photo'>");
      $new_photo.attr({
        src: photo.images.thumbnail.url,
        height: photo.images.thumbnail.height,
        width: photo.images.thumbnail.width,
        lat: photo.location.latitude,
        lng: photo.location.longitude
      });
      $new_photo.appendTo("body");
      bind_effect_to($new_photo);
      $new_photo.hide();
  }

  function bind_effect_to($photo)
  {
    $photo.mouseleave(function(){
      $(this).animate({
        width: $(this).attr("origin_width"),
        height: $(this).attr("origin_height")
      });
    })
    $photo.mouseenter(function(){
      $(this).animate({
        width: $(this).attr("width"),
        height: $(this).attr("height")
      }, 1000);
    });
  }

  function reset_position($photo)
  {
    $photo.css({ position: "absolute", left: "0px", top: "0px" });
  }

  function pin_photo_to_map($photo)
  {
    var containerPixel = latlng_to_pixel($photo);
    $photo.css({ position: "absolute", left: containerPixel.x + "px", top: containerPixel.y + "px" });
  }


  function latlng_to_pixel($photo)
  {
    var latlng = new google.maps.LatLng(parseFloat($photo.attr("lat")), parseFloat($photo.attr("lng")));
    return overlay.getProjection().fromLatLngToContainerPixel(latlng);
  }
</script>
